/* CreateTournament.css */

@import './styleguide.css';

.main-frame {
    background: linear-gradient(180deg, rgb(214, 216, 222) 0%, rgb(234, 233, 235) 100%);
    background-color: rgba(255, 255, 255, 1);
    height: 924px;
    width: 1400px;
}

.logo-banner {
    background-color: var(--neutralwhite);
    box-shadow: var(--drop-shadow);
    height: 100px;
    position: relative;
    width: 1400px;
    justify-content: center;
}

.logo-banner .roundup {
    color: transparent;
    font-family: 'Bebas Neue', var(--heading-XXL-font-family);
    font-size: var(--heading-XXL-font-size);
    font-style: var(--heading-XXL-font-style);
    font-weight: var(--heading-XXL-font-weight);
    height: 48px;
    left: 615px;
    letter-spacing: var(--heading-XXL-letter-spacing);
    line-height: var(--heading-XXL-line-height);
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
}

.logo-banner .text-wrapper {
    color: #1d448d;
    font-family: var(--heading-XXL-font-family);
    font-size: var(--heading-XXL-font-size);
    font-style: var(--heading-XXL-font-style);
    font-weight: var(--heading-XXL-font-weight);
    letter-spacing: var(--heading-XXL-letter-spacing);
    line-height: var(--heading-XXL-line-height);
}

.logo-banner .span {
    color: #f58426;
    font-family: var(--heading-XXL-font-family);
    font-size: var(--heading-XXL-font-size);
    font-style: var(--heading-XXL-font-style);
    font-weight: var(--heading-XXL-font-weight);
    letter-spacing: var(--heading-XXL-letter-spacing);
    line-height: var(--heading-XXL-line-height);
}

.heading-banner {
    align-items: flex-start;
    background-color: var(--neutralnavy);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--componentsborder-default);
    display: flex;
    gap: 10px;
    height: 120px;
    justify-content: center;
    padding: 40px 553px;
    position: relative;
}

.heading-banner .text-wrapper {
    color: var(--neutralwhite);
    font-family: var(--heading-l-font-family);
    font-size: var(--heading-l-font-size);
    font-style: var(--heading-l-font-style);
    font-weight: var(--heading-l-font-weight);
    letter-spacing: var(--heading-l-letter-spacing);
    line-height: var(--heading-l-line-height);
    margin-bottom: -7px;
    margin-left: -43px;
    margin-right: -43px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.form-frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 245px;
    position: relative;
}

.form-frame .div-01 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}


.div-01 .text-wrapper {
    color: var(--componentsheading-main);
    font-family: var(--heading-LG-font-family);
    font-size: var(--heading-LG-font-size);
    font-style: var(--heading-LG-font-style);
    font-weight: var(--heading-LG-font-weight);
    letter-spacing: var(--heading-LG-letter-spacing);
    line-height: var(--heading-LG-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.form-frame .textinput {
    align-items: center;
    background-color: var(--neutralwhite);
    border: 1px solid;
    border-color: var(--componentsborder-default);
    border-radius: 4px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    padding: 24px 28px;
    width: 600px;
}

.form-frame .div-02 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.div-02 .text-wrapper {
    color: var(--componentsheading-main);
    font-family: var(--heading-LG-font-family);
    font-size: var(--heading-LG-font-size);
    font-style: var(--heading-LG-font-style);
    font-weight: var(--heading-LG-font-weight);
    letter-spacing: var(--heading-LG-letter-spacing);
    line-height: var(--heading-LG-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.div-02 .select {
    align-items: center;
    background-color: var(--neutralwhite);
    border: 1px solid;
    border-color: var(--componentsborder-default);
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    overflow: hidden;
    padding: 24px 28px;
    position: relative;
}

.footer-frame {
    align-items: flex-end;
    border-color: var(--componentsborder-default);
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 28px 80px;
    position: relative;
}

.button {
    background-color: var(--componentsdiabled-background) !important;
    flex: 0 0 auto !important;
    width: 271px;
    height: 76px;
    justify-content: center;
}

.button-text {
    color: var(--componentsbutton-foreground);
    font-family: var(--heading-MD-font-family);
    font-size: var(--heading-MD-font-size);
    font-style: var(--heading-MD-font-style); 
    font-weight: var(--heading-MD-font-weight); 
    letter-spacing: var(--heading-MD-letter-spacing); 
    line-height: var(--heading-MD-line-height); 
    top: 0;  
}

.button-arrow {
    height: 24px; 
    left: 4px; 
    position: relative;
    bottom: 2px;
    width: 24px;
}

.side-button {
    background-color: var(--blue);
    height: 1024px; 
    position: absolute;
    width:40px;
}