:root {
    --aqua: rgba(165, 211, 227, 1);
    --blue: rgba(29, 68, 141, 1);
    --componentsbackground-grey: rgba(214, 216, 222, 1);
    --componentsbackground-light: rgba(234, 233, 235, 1);
    --componentsbackground-lighter: rgba(247, 247, 247, 1);
    --componentsbody-text: rgba(8, 31, 45, 1);
    --componentsborder-default: rgba(167, 180, 192, 1);
    --componentsborder-input: rgba(8, 31, 45, 1);
    --componentsbutton-foreground: rgba(8, 31, 45, 1);
    --componentsdiabled-background: rgba(214, 216, 222, 1);
    --componentsdisabled-foreground: rgba(68, 81, 95, 1);
    --componentsheading-main: rgba(29, 68, 141, 1);
    --componentsheading-sub: rgba(204, 14, 46, 1);
    --componentsinteractive: rgba(245, 132, 38, 1);
    --componentsinteractive-2: rgba(29, 68, 141, 1);
    --componentsinteractive-2-active: rgba(10, 35, 55, 1);
    --componentsinteractive-2-hover: rgba(18, 49, 93, 1);
    --componentsinteractive-active: rgba(224, 73, 42, 1);
    --componentsinteractive-hover: rgba(235, 102, 40, 1);
    --componentsmuted-text: rgba(167, 180, 192, 1);
    --componentsstatus-amber: rgba(245, 132, 38, 1);
    --componentsstatus-green: rgba(0, 125, 50, 1);
    --componentsstatus-red: rgba(204, 14, 46, 1);
    --drop-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.05);
    --grey: rgba(214, 216, 222, 1);
    --heading-l-font-family: "HelveticaNeue-Medium", Helvetica;
    --heading-l-font-size: 40px;
    --heading-l-font-style: normal;
    --heading-l-font-weight: 500;
    --heading-l-letter-spacing: 0px;
    --heading-l-line-height: 48px;
    --heading-LG-font-family: "HelveticaNeue-Bold", Helvetica;
    --heading-LG-font-size: 28px;
    --heading-LG-font-style: normal;
    --heading-LG-font-weight: 700;
    --heading-LG-letter-spacing: 0px;
    --heading-LG-line-height: 36px;
    --heading-MD-font-family: "HelveticaNeue-Bold", Helvetica;
    --heading-MD-font-size: 20px;
    --heading-MD-font-style: normal;
    --heading-MD-font-weight: 700;
    --heading-MD-letter-spacing: 0px;
    --heading-MD-line-height: 28px;
    --heading-SM-font-family: "HelveticaNeue-Medium", Helvetica;
    --heading-SM-font-size: 16px;
    --heading-SM-font-style: normal;
    --heading-SM-font-weight: 500;
    --heading-SM-letter-spacing: 0px;
    --heading-SM-line-height: 24px;
    --heading-XL-font-family: "BebasNeue-Regular", Helvetica;
    --heading-XL-font-size: 40px;
    --heading-XL-font-style: normal;
    --heading-XL-font-weight: 400;
    --heading-XL-letter-spacing: 0px;
    --heading-XL-line-height: 48px;
    --heading-XXL-font-family: "BebasNeue-Regular", Helvetica;
    --heading-XXL-font-size: 60px;
    --heading-XXL-font-style: normal;
    --heading-XXL-font-weight: 400;
    --heading-XXL-letter-spacing: 0px;
    --heading-XXL-line-height: 48px;
    --heading-XXXL-font-family: "BebasNeue-Regular", Helvetica;
    --heading-XXXL-font-size: 80px;
    --heading-XXXL-font-style: normal;
    --heading-XXXL-font-weight: 400;
    --heading-XXXL-letter-spacing: 0px;
    --heading-XXXL-line-height: 64px;
    --navy: rgba(8, 31, 45, 1);
    --neutralgrey: rgba(214, 216, 222, 1);
    --neutralgrey-light: rgba(234, 233, 235, 1);
    --neutralgrey-lighter: rgba(247, 248, 248, 1);
    --neutralnavy: rgba(8, 31, 45, 1);
    --neutralnavy-50: rgba(167, 180, 192, 1);
    --neutralnavy-75: rgba(68, 81, 95, 1);
    --neutralwhite: rgba(255, 255, 255, 1);
    --orange: rgba(245, 132, 38, 1);
    --paragraph-LG-font-family: "HelveticaNeue-Regular", Helvetica;
    --paragraph-LG-font-size: 20px;
    --paragraph-LG-font-style: normal;
    --paragraph-LG-font-weight: 400;
    --paragraph-LG-letter-spacing: 0px;
    --paragraph-LG-line-height: 28px;
    --paragraph-MD-font-family: "HelveticaNeue-Regular", Helvetica;
    --paragraph-MD-font-size: 16px;
    --paragraph-MD-font-style: normal;
    --paragraph-MD-font-weight: 400;
    --paragraph-MD-letter-spacing: 0px;
    --paragraph-MD-line-height: 24px;
    --red: rgba(204, 14, 46, 1);
  }
  